<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--  创建对象的第一种方式：利用无参构造器  id：唯一标识符  class：类的全类名  -->
    <bean id="helloIoc" scope="prototype" class="com.umr.spring.ioc.HelloIoc"></bean>
    <!--  别名属性 name: 和bean的id属性像对应  -->
    <alias name="helloIoc" alias="helloIoc2"></alias>

    <!--  创建对象的第二种方式：利用静态工厂方法  factory-method：静态工厂类的获取对象的静态方法
       class：静态工厂类的全类名  -->
    <bean id="helloStaticFactory" lazy-init="true" factory-method="getInstance"
          class="com.umr.spring.ioc.HelloStaticFactory"></bean>

    <!--  创建对象的第三种方式：利用实例工厂方法  factory-bean：指定当前Spring中包含工厂方法的beanID
      factory-method：工厂方法名称  -->
    <bean id="instanceFactory" lazy-init="true" class="com.umr.spring.ioc.HelloInstanceFactory"></bean>
    <bean id="instance" lazy-init="true" factory-bean="instanceFactory" factory-method="getInstance"></bean>

    <!--  生命周期  -->
    <bean id="springLifeCycle" init-method="init" destroy-method="destroy"
          class="com.umr.spring.ioc.SpringLifeCycle"></bean>
</beans>